{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<style>
.hero {
    background: white;
    padding: 60px;
    border-radius: 18px;
    box-shadow: 0 20px 40px rgba(0,0,0,.1);
    text-align: center;
}

.hero h1 {
    color: #4f46e5;
}

.hero p {
    font-size: 18px;
    color: #555;
}

.hero a {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 30px;
    background: #4f46e5;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.hero a:hover {
    background: #4338ca;
}
</style>

<div class="hero">

    <h1>Plan Your Dream Trip 🌍</h1>

    <p>Easy booking • Budget friendly • Secure</p>

    <a href="{% url 'booking' %}">
        Book a Trip
    </a>

</div>

{% endblock %}